@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *::focus {
    outline: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block;
  border: 0; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*For IE 6&7 only*/ }

a {
  text-decoration: none; }

.clear {
  margin: 0;
  padding: 0;
  clear: both; }

*:focus {
  outline: none; }

button {
  border: none;
  color: inherit;
  font: inherit;
  background-color: inherit;
  margin: 0;
  padding: 0; }

b {
  font-weight: bold; }

i {
  font-style: normal; }

i.who {
  color: #008ac3; }

i.prc {
  color: #b50808; }

body {
  font-family: "Montserrat", "Noto Sans TC", STHeiti, "Microsoft JhengHei", "微軟正黑體", sans-serif; }

html, body, #wapper {
  min-height: 100vh;
  min-width: 1250px;
  width: 100%; }

#wapper {
  position: relative; }

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center; }
  .loading svg {
    width: 10%;
    position: relative;
    margin: 0 auto;
    display: block; }

.kvBox {
  width: 100%;
  margin: 0 auto;
  height: 430px;
  z-index: 2;
  background: #5cc1d8;
  position: relative;
  padding-bottom: 30px; }
  .kvBox .logo {
    position: absolute;
    top: 30px;
    right: 60px; }
  .kvBox .kv_txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex; }
    .kvBox .kv_txt img {
      margin-left: 8%; }
  .kvBox .kvImg {
    bottom: 0;
    right: 5%;
    position: absolute; }
  .kvBox .btns {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    z-index: 3; }
    .kvBox .btns .btn {
      padding: 10px 20px;
      background: #fff;
      color: #000;
      font-size: 18px;
      color: #000;
      font-weight: bold;
      margin-right: 10px;
      cursor: pointer; }
      .kvBox .btns .btn:last-child {
        margin-right: 0; }
      .kvBox .btns .btn.active, .kvBox .btns .btn:hover {
        background-color: #000;
        color: #fff; }

.titleBox {
  width: 1250px;
  margin: 0 auto; }
  .titleBox h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 65px 0;
    color: #000;
    line-height: 160%; }

.index .kvBox {
  height: inherit;
  min-height: 700px;
  padding-bottom: 0; }
  .index .kvBox .logo {
    right: 40px; }
  .index .kvBox .kv_txt img {
    margin-left: 8%;
    width: 31%;
    max-width: 601px; }
  .index .kvBox .kvImg {
    top: 50%;
    right: 14%;
    transform-origin: top right;
    bottom: inherit; }
    .index .kvBox .kvImg .city {
      position: relative; }
    .index .kvBox .kvImg > div:not(.city) {
      position: absolute;
      transform-origin: center; }
    .index .kvBox .kvImg .people {
      bottom: -13%;
      right: -9%;
      transform-origin: center bottom; }
    .index .kvBox .kvImg .avirus1 {
      right: 0;
      top: 2%; }
    .index .kvBox .kvImg .avirus2 {
      right: -14%;
      top: 30%; }
    .index .kvBox .kvImg .avirus3 {
      bottom: -1%;
      left: -5%; }
  .index .kvBox .btns {
    bottom: 50px; }
.index .titleBox {
  width: 100%;
  min-height: 700px;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative; }
  .index .titleBox h2 {
    padding: 0;
    color: #fff;
    z-index: 2;
    text-align: left;
    line-height: 140%;
    font-size: 100px;
    border-bottom: none; }
  .index .titleBox .backgroundMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .index .titleBox .background {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center right; }
  .index .titleBox .downBox {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -22px; }
    .index .titleBox .downBox span {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #fff;
      display: block;
      margin-top: 5px;
      line-height: 120%; }
.index .copyright {
  margin: 10px auto;
  color: #000;
  position: relative; }
  .index .copyright a {
    color: #000; }

.backgroundMask {
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: space;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='https://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); }

.timeLineBox {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-top: 153px; }
  .timeLineBox .background {
    position: fixed;
    width: 100%;
    min-width: 1250px;
    height: 100%;
    top: 0;
    left: 0; }
    .timeLineBox .background .pic {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #5cc1d8; }
  .timeLineBox .backgroundMask {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4); }
  .timeLineBox .lineBox {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    height: 100%;
    min-height: 100vh; }
    .timeLineBox .lineBox .line {
      border-color: #fff;
      border-right-width: 6px;
      display: block; }
      .timeLineBox .lineBox .line.dashed {
        margin-top: 100px;
        border-style: dashed;
        height: 300px;
        border-color: #008ac3; }
      .timeLineBox .lineBox .line.solid {
        height: calc(100% - 400px);
        border-style: dashed; }
  .timeLineBox .allDatasBox {
    position: relative;
    width: 65%;
    margin: 0 auto;
    top: 10px;
    z-index: 2; }
    .timeLineBox .allDatasBox .dataBox {
      position: relative;
      width: 100%;
      margin-bottom: 100px;
      min-height: 138px; }
      .timeLineBox .allDatasBox .dataBox .date {
        left: calc(50% - 69px);
        position: absolute;
        width: 138px;
        height: 138px;
        border-radius: 50%;
        background-color: #b50808;
        border: 6px #fff solid;
        color: #fff;
        align-items: center;
        display: flex;
        justify-content: center; }
        .timeLineBox .allDatasBox .dataBox .date p {
          text-align: center;
          font-weight: bold;
          font-size: 36px; }
          .timeLineBox .allDatasBox .dataBox .date p span {
            display: block;
            font-size: 16px;
            margin-top: 5px; }
        .timeLineBox .allDatasBox .dataBox .date .line {
          display: block;
          height: 2px;
          background-color: #fff;
          border-radius: 2px;
          left: 132px;
          position: absolute;
          width: 55px; }
      .timeLineBox .allDatasBox .dataBox .events {
        padding-top: 68px;
        position: relative;
        overflow: hidden; }
        .timeLineBox .allDatasBox .dataBox .events .event {
          position: relative;
          left: 50%;
          width: calc(100% / 2 - 123px);
          margin-left: 123px;
          padding: 35px 24px;
          background-color: white;
          color: #000; }
          .timeLineBox .allDatasBox .dataBox .events .event .content {
            position: relative; }
          .timeLineBox .allDatasBox .dataBox .events .event img {
            width: 100%;
            border: 1px #ccc solid;
            margin: 29px auto; }
          .timeLineBox .allDatasBox .dataBox .events .event p {
            font-size: 18px;
            line-height: 150%; }
          .timeLineBox .allDatasBox .dataBox .events .event ul {
            font-size: 18px;
            line-height: 150%;
            list-style: disc;
            padding-left: 32px; }
            .timeLineBox .allDatasBox .dataBox .events .event ul li iframe {
              width: 90%; }
          .timeLineBox .allDatasBox .dataBox .events .event a {
            color: #000;
            border-bottom: 1px #000 solid; }
          .timeLineBox .allDatasBox .dataBox .events .event iframe {
            width: 90%;
            height: 300px;
            position: relative;
            margin: 29px auto;
            display: block; }
          .timeLineBox .allDatasBox .dataBox .events .event.taiwan:before {
            content: "Taiwan";
            position: relative;
            padding: 10px 15px;
            margin-bottom: 10px;
            background-color: #217f32;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            text-align: center; }
      .timeLineBox .allDatasBox .dataBox:first-child .date {
        background-color: #008ac3; }
      .timeLineBox .allDatasBox .dataBox.hideEvent .date .line {
        display: none; }
      .timeLineBox .allDatasBox .dataBox.hideEvent .event {
        display: none; }
    .timeLineBox .allDatasBox .nowBox {
      width: 300px;
      margin: 0 auto;
      padding: 20px 50px;
      font-size: 20px;
      text-align: center;
      background-color: #000;
      border: 6px #fff solid;
      color: #fff;
      border-radius: 10px; }
      .timeLineBox .allDatasBox .nowBox span {
        width: 100%;
        margin-bottom: 5px;
        position: relative;
        display: block; }
      .timeLineBox .allDatasBox .nowBox .time {
        width: 100%; }
    .timeLineBox .allDatasBox .dataBox:nth-child(2n) .event {
      left: 0;
      margin-left: 0; }
    .timeLineBox .allDatasBox .dataBox:nth-child(2n) .date .line {
      left: -5px;
      transform: rotate(180deg);
      display: block;
      transform-origin: left center; }
    .timeLineBox .allDatasBox .dataBox:last-child {
      margin-bottom: 0; }
  .timeLineBox .fixedBox {
    position: fixed;
    left: 20px;
    top: 50px;
    width: 197px;
    z-index: 3; }
    .timeLineBox .fixedBox .yearBox {
      text-align: right;
      font-weight: bold;
      margin-bottom: 15px;
      color: #fff; }
      .timeLineBox .fixedBox .yearBox h2 {
        font-size: 70px; }
      .timeLineBox .fixedBox .yearBox p {
        font-size: 28px;
        line-height: 120%; }
    .timeLineBox .fixedBox .digitalBox {
      border: 6px #000 solid;
      background-color: rgba(0, 0, 0, 0.3);
      font-weight: bold;
      text-align: center;
      color: #fff; }
      .timeLineBox .fixedBox .digitalBox .organizationBox .name {
        font-size: 22px;
        text-align: center;
        padding: 6px 0;
        background-color: black;
        font-weight: bold; }
      .timeLineBox .fixedBox .digitalBox .organizationBox .data > .txt {
        font-size: 18px;
        display: block;
        line-height: 120%;
        font-weight: normal; }
      .timeLineBox .fixedBox .digitalBox .organizationBox .data .days {
        font-size: 59px;
        position: relative;
        width: 146px;
        height: 82px;
        margin: 10px auto 20px;
        border-top: 3px #fff solid;
        border-left: 3px #fff solid;
        border-right: 3px #fff solid; }
        .timeLineBox .fixedBox .digitalBox .organizationBox .data .days > span {
          line-height: 70px; }
        .timeLineBox .fixedBox .digitalBox .organizationBox .data .days .txt {
          font-size: 17px;
          position: absolute;
          bottom: -7px;
          color: #fff;
          font-weight: bold;
          width: 103%;
          text-align: center;
          left: -1px; }
          .timeLineBox .fixedBox .digitalBox .organizationBox .data .days .txt span {
            margin: 0 5px; }
          .timeLineBox .fixedBox .digitalBox .organizationBox .data .days .txt:before, .timeLineBox .fixedBox .digitalBox .organizationBox .data .days .txt:after {
            content: "";
            display: inline-block;
            height: 3px;
            background-color: #fff;
            position: relative;
            top: -4px;
            width: calc(35% - 5px); }
      .timeLineBox .fixedBox .digitalBox .organizationBox .data .cases {
        font-size: 27px;
        display: block; }
      .timeLineBox .fixedBox .digitalBox .organizationBox.china .name {
        margin-bottom: 17px; }
      .timeLineBox .fixedBox .digitalBox .organizationBox.china .days, .timeLineBox .fixedBox .digitalBox .organizationBox.china .cases, .timeLineBox .fixedBox .digitalBox .organizationBox.china .name {
        color: #b50808; }
      .timeLineBox .fixedBox .digitalBox .organizationBox.who {
        margin-top: 10px; }
        .timeLineBox .fixedBox .digitalBox .organizationBox.who .days, .timeLineBox .fixedBox .digitalBox .organizationBox.who .cases, .timeLineBox .fixedBox .digitalBox .organizationBox.who .name {
          color: #008ac3; }
        .timeLineBox .fixedBox .digitalBox .organizationBox.who .days {
          margin: 10px auto 27px; }
      .timeLineBox .fixedBox .digitalBox .caseBox .cases {
        font-size: 30px;
        display: block; }
        .timeLineBox .fixedBox .digitalBox .caseBox .cases.china {
          color: #b50808; }
        .timeLineBox .fixedBox .digitalBox .caseBox .cases.who {
          color: #008ac3; }
      .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox {
        color: #fff;
        margin: 8px auto;
        font-weight: bold; }
        .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox span {
          font-size: 11px;
          margin: 0 4px; }
        .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox:before, .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox:after {
          content: "";
          display: inline-block;
          height: 2px;
          background-color: #fff;
          position: relative;
          top: -4px;
          width: calc(14% - 5px); }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox .days > span {
      color: #fff;
      font-size: 25px;
      top: -5px;
      position: relative; }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt {
      font-size: 12px;
      bottom: 4px; }
      .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt:before, .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt:after {
        content: "";
        display: inline-block;
        height: 3px;
        background-color: #b50808;
        position: relative;
        top: -3px;
        width: calc(13% - 5px); }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox.china .days {
      border-top: 3px #b50808 solid;
      border-left: 3px #b50808 solid;
      border-right: 3px #b50808 solid;
      background-color: #b50808; }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox.who .days {
      border-bottom: 3px #008ac3 solid;
      border-left: 3px #008ac3 solid;
      border-right: 3px #008ac3 solid;
      background-color: #008ac3; }
      .timeLineBox .fixedBox.change .digitalBox .organizationBox.who .days .txt {
        top: inherit; }
        .timeLineBox .fixedBox.change .digitalBox .organizationBox.who .days .txt:before, .timeLineBox .fixedBox.change .digitalBox .organizationBox.who .days .txt:after {
          background-color: #008ac3; }
    .timeLineBox .fixedBox.change .digitalBox .caseBox .dividerBox span {
      font-size: 17px; }
    .timeLineBox .fixedBox.change .digitalBox .caseBox .dividerBox:before, .timeLineBox .fixedBox.change .digitalBox .caseBox .dividerBox:after {
      width: calc(30% - 5px); }
  .timeLineBox .lineYearBox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1; }
    .timeLineBox .lineYearBox .line.year {
      position: absolute;
      border-top-width: 4px;
      border-style: dashed;
      border-color: #000;
      top: 28%; }
      .timeLineBox .lineYearBox .line.year .ball {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: -10px;
        background-color: #000; }
  .timeLineBox .banners {
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 8; }
    .timeLineBox .banners .banner {
      width: 100%;
      color: #000;
      background-color: #fff;
      font-weight: bold;
      padding: 10px 20px;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 16px;
      cursor: pointer; }
      .timeLineBox .banners .banner span {
        line-height: 140%; }
  .timeLineBox.nonefixed .lineYearBox, .timeLineBox.nonefixed .fixedBox, .timeLineBox.nonefixed .background, .timeLineBox.nonefixed .banners, .timeLineBox.nonefixed .backgroundMask {
    position: absolute; }

.page {
  position: relative; }
  .page .btns {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 55px; }
    .page .btns .btn {
      color: #5cc1d8;
      background-color: #fff;
      border: 1px #5cc1d8 solid;
      padding: 10px 20px;
      margin-right: 10px;
      cursor: pointer;
      font-size: 18px;
      position: relative; }
      .page .btns .btn:last-child {
        margin-right: 0; }
      .page .btns .btn.active, .page .btns .btn:hover {
        color: #fff;
        background-color: #5cc1d8;
        border: 1px transparent solid; }
      .page .btns .btn.comingsoon:hover {
        color: #5cc1d8; }
        .page .btns .btn.comingsoon:hover:after {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          line-height: 40px;
          content: "Coming Soon";
          text-align: center; }
  .page .booksBox {
    position: fixed;
    right: 20px;
    bottom: 30%; }
    .page .booksBox .btn {
      display: block;
      margin-bottom: 20px;
      background-color: #000; }
      .page .booksBox .btn img {
        border: 4px transparent none;
        width: 120px;
        border-radius: 2px;
        box-shadow: 5px 5px 4px 0px #7f818e;
        -webkit-box-shadow: 5px 5px 4px 0px #7f818e;
        -moz-box-shadow: 5px 5px 4px 0px #7f818e;
        -o-box-shadow: 5px 5px 4px 0px #7f818e;
        transition: .3s ease;
        opacity: 0.6; }
      .page .booksBox .btn.active img {
        opacity: 1;
        position: relative; }
  .page > .content {
    width: 1250px;
    margin: 0 auto; }
    .page > .content h3 {
      font-size: 25px;
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px #5cc1d8 solid;
      border-top: 1px #5cc1d8 solid; }
    .page > .content ul.decimal {
      list-style-type: decimal;
      margin-left: 30px;
      margin-bottom: 40px; }
      .page > .content ul.decimal li {
        padding-left: 10px; }
    .page > .content p, .page > .content li {
      line-height: 180%;
      margin-bottom: 10px;
      font-size: 18px; }
    .page > .content .researchBox {
      width: 100%;
      margin: 60px auto 30px; }
      .page > .content .researchBox img {
        margin: 0 auto 30px; }
      .page > .content .researchBox .book {
        width: calc(50% - 50px);
        float: left; }
        .page > .content .researchBox .book:last-child {
          margin-left: 50px; }
        .page > .content .researchBox .book h3 {
          text-align: center; }
    .page > .content .participantsBox {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 25px; }
      .page > .content .participantsBox .block {
        align-items: center;
        display: flex; }
        .page > .content .participantsBox .block:nth-child(3n) {
          margin-bottom: 0; }
    .page > .content .block {
      margin-bottom: 20px;
      position: relative;
      padding: 0 10px;
      min-height: 50px; }
      .page > .content .block .pic {
        width: 50px;
        height: 50px;
        border: 3px #5cc1d8 solid;
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-right: 10px;
        position: absolute;
        top: 0;
        left: 10px; }
      .page > .content .block p.txt {
        margin-left: 60px; }
        .page > .content .block p.txt:nth-child(2n) {
          padding-top: 10px; }
      .page > .content .block ul {
        margin-left: 80px; }
    .page > .content .moreBtn {
      padding: 10px 40px;
      font-size: 18px;
      font-weight: bold;
      color: #5cc1d8;
      border: #5cc1d8 1px solid;
      margin: 0 auto;
      transition: 0.25s;
      cursor: pointer;
      box-shadow: 0.3em 0.3em 0 0 #5cc1d8, inset 0.3em 0.3em 0 0 #5cc1d8;
      left: 46%;
      position: relative; }
      .page > .content .moreBtn:hover, .page > .content .moreBtn:focus {
        color: #fff;
        border-color: #5cc1d8;
        box-shadow: 0 0 0 0 #5cc1d8, inset 6em 3.5em 0 0 #5cc1d8; }
    .page > .content .transcriptListBox {
      padding: 0 10px; }
      .page > .content .transcriptListBox .block {
        text-align: center;
        align-items: center;
        display: flex;
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
        border-bottom: #5cc1d8 1px solid;
        margin-bottom: 40px; }
        .page > .content .transcriptListBox .block .pic {
          width: 100px;
          height: 100px;
          position: relative;
          margin-left: 10px; }
        .page > .content .transcriptListBox .block p.txt {
          margin-left: 30px;
          margin-bottom: 0;
          text-align: left;
          line-height: 140%; }
        .page > .content .transcriptListBox .block .moreBtn {
          position: absolute;
          margin: 0;
          left: inherit;
          right: 0; }
          .page > .content .transcriptListBox .block .moreBtn.comingsoon {
            padding: 10px 12px;
            font-size: 16px; }
        .page > .content .transcriptListBox .block:last-child {
          border-bottom: none; }
    .page > .content .transcriptBox {
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px #5cc1d8 solid;
      padding-bottom: 25px;
      margin-bottom: 16px; }
      .page > .content .transcriptBox .block:nth-child(2n) {
        margin-bottom: 40px; }
      .page > .content .transcriptBox .block:last-child {
        margin-bottom: 0; }
    .page > .content .quotesBox {
      margin: 30px 0 80px; }
      .page > .content .quotesBox .quoteBox {
        position: relative;
        width: calc(44% - 20px);
        float: left;
        margin: 0 auto 150px; }
        .page > .content .quotesBox .quoteBox .quote {
          background-color: transparent;
          border-radius: 3px;
          color: #fff;
          position: relative;
          width: 100%;
          height: 375px;
          transform-style: preserve-3d;
          perspective: 2000px;
          transition: .4s;
          text-align: center;
          margin: 0 0 30px 30px; }
          .page > .content .quotesBox .quoteBox .quote i {
            font-size: 35px;
            height: 65px;
            width: 65px;
            line-height: 65px !important;
            background-color: #5cc1d8;
            color: #fff;
            position: absolute; }
          .page > .content .quotesBox .quoteBox .quote > i {
            bottom: 0;
            right: 0;
            z-index: 1; }
          .page > .content .quotesBox .quoteBox .quote .txt {
            position: absolute;
            top: 30px;
            left: -30px;
            width: calc(100% + 60px);
            height: calc(100% - 60px);
            background-color: #000;
            border-radius: 3px;
            transition: .4s; }
            .page > .content .quotesBox .quoteBox .quote .txt i {
              top: 0;
              left: 0; }
            .page > .content .quotesBox .quoteBox .quote .txt .content {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              text-align: center;
              width: 100%;
              padding: 30px 60px;
              line-height: 1.5;
              box-sizing: border-box; }
              .page > .content .quotesBox .quoteBox .quote .txt .content h3 {
                font-size: 30px;
                margin-bottom: 5px;
                border: none;
                padding: 0; }
              .page > .content .quotesBox .quoteBox .quote .txt .content p {
                font-size: 15px; }
          .page > .content .quotesBox .quoteBox .quote:before, .page > .content .quotesBox .quoteBox .quote:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            box-sizing: border-box;
            pointer-events: none; }
          .page > .content .quotesBox .quoteBox .quote:before {
            border-top: 20px solid #5cc1d8;
            border-left: 20px solid #5cc1d8; }
          .page > .content .quotesBox .quoteBox .quote:after {
            border-bottom: 20px solid #5cc1d8;
            border-right: 20px solid #5cc1d8; }
        .page > .content .quotesBox .quoteBox:nth-child(2n) {
          margin-left: 130px; }
        .page > .content .quotesBox .quoteBox .moreBtn.go {
          -webkit-animation: rainbow 18s ease infinite;
          -z-animation: rainbow 18s ease infinite;
          -o-animation: rainbow 18s ease infinite;
          animation: rainbow 18s ease infinite;
          background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
          background-size: 1800% 1800%;
          box-shadow: none;
          border: none;
          color: #fff; }

.fancyBoxDiv {
  display: none; }
  .fancyBoxDiv.fancybox-content {
    width: 50%;
    background-color: #000;
    color: #fff;
    padding: 55px 44px;
    min-width: 600px; }
    .fancyBoxDiv.fancybox-content ul {
      margin-left: 30px; }
      .fancyBoxDiv.fancybox-content ul.alpha {
        list-style-type: lower-alpha; }
    .fancyBoxDiv.fancybox-content li {
      line-height: 180%;
      font-size: 16px;
      margin-bottom: 16px;
      padding-left: 10px; }
    .fancyBoxDiv.fancybox-content p {
      line-height: 180%;
      font-size: 16px; }
    .fancyBoxDiv.fancybox-content h3 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
      line-height: 160%; }

.copyright {
  text-align: center;
  font-size: 14px;
  color: #5cc1d8;
  margin-bottom: 30px; }
  .copyright a {
    color: #5cc1d8;
    text-decoration: underline; }
    .copyright a:hover {
      color: #000; }

.backtop {
  width: 54px;
  height: 54px;
  background-image: url(../images/backtop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: fixed;
  right: 10px;
  bottom: 75px;
  display: none;
  cursor: pointer;
  z-index: 8; }

@media screen and (max-width: 768px) {
  html, body, #wapper {
    min-width: inherit; }

  .kvBox .btns {
    padding: 0 10px; }
    .kvBox .btns .btn {
      padding: 4px 10px;
      font-size: 16px; }

  .titleBox h2 {
    font-size: 25px; }

  .timeLineBox .line.year {
    display: none; }
  .timeLineBox .background {
    min-width: inherit; }
  .timeLineBox .lineBox {
    left: 10%;
    margin-left: 0; }
    .timeLineBox .lineBox .line {
      border-right-width: 4px; }
      .timeLineBox .lineBox .line.dashed {
        margin-top: 20px;
        height: 0.8%; }
      .timeLineBox .lineBox .line.solid {
        height: calc(99.2% - 20px); }
  .timeLineBox .allDatasBox {
    width: 100%; }
    .timeLineBox .allDatasBox .dataBox {
      margin-bottom: 30px; }
      .timeLineBox .allDatasBox .dataBox .date {
        width: 70px;
        height: 70px;
        left: 2%;
        border: 3px #fff solid; }
        .timeLineBox .allDatasBox .dataBox .date p {
          font-size: 20px; }
        .timeLineBox .allDatasBox .dataBox .date .line {
          left: 102%;
          width: 4.5vw; }
      .timeLineBox .allDatasBox .dataBox .events {
        padding-top: 34px;
        width: 100%; }
        .timeLineBox .allDatasBox .dataBox .events .event {
          width: 67%;
          left: 0;
          padding: 15px;
          margin-left: 24%; }
          .timeLineBox .allDatasBox .dataBox .events .event p, .timeLineBox .allDatasBox .dataBox .events .event ul {
            font-size: 16px; }
      .timeLineBox .allDatasBox .dataBox:nth-child(2n) .event {
        margin-left: 24%; }
      .timeLineBox .allDatasBox .dataBox:nth-child(2n) .date .line {
        transform: none;
        left: 102%; }
    .timeLineBox .allDatasBox .nowBox {
      border: 3px #fff solid;
      padding: 8px;
      left: 2%;
      margin-left: 14px;
      font-size: 16px; }
      .timeLineBox .allDatasBox .nowBox span {
        margin-bottom: 3px; }
  .timeLineBox .banners {
    display: none; }
  .timeLineBox .fixedBox {
    border: 5px #fff solid;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 20px);
    padding: 0 13px;
    left: 0;
    top: inherit;
    bottom: 13px;
    margin: 0 10px; }
    .timeLineBox .fixedBox .yearBox {
      text-align: left;
      margin-bottom: 5px; }
      .timeLineBox .fixedBox .yearBox h2 {
        display: inline-block;
        font-size: 42px;
        top: 3px;
        position: relative; }
      .timeLineBox .fixedBox .yearBox p {
        display: inline-block;
        font-size: 16px; }
    .timeLineBox .fixedBox .digitalBox {
      border: none;
      background-color: transparent;
      width: 100%; }
      .timeLineBox .fixedBox .digitalBox > div {
        float: left; }
      .timeLineBox .fixedBox .digitalBox .organizationBox {
        width: 33%;
        position: relative; }
        .timeLineBox .fixedBox .digitalBox .organizationBox .data > .txt {
          font-size: 13px;
          line-height: 100%;
          position: absolute;
          top: 63%; }
        .timeLineBox .fixedBox .digitalBox .organizationBox .data .days {
          width: 100%;
          height: 52px;
          font-size: 42px; }
          .timeLineBox .fixedBox .digitalBox .organizationBox .data .days > span {
            line-height: 45px; }
          .timeLineBox .fixedBox .digitalBox .organizationBox .data .days .txt span {
            font-size: 12px; }
        .timeLineBox .fixedBox .digitalBox .organizationBox .name {
          font-size: 15px; }
        .timeLineBox .fixedBox .digitalBox .organizationBox.china {
          margin-bottom: 0; }
          .timeLineBox .fixedBox .digitalBox .organizationBox.china .data .days {
            margin-top: 0;
            margin-bottom: 53%; }
          .timeLineBox .fixedBox .digitalBox .organizationBox.china .name {
            margin-bottom: 0;
            background-color: #b50808;
            color: #fff; }
        .timeLineBox .fixedBox .digitalBox .organizationBox.who {
          margin-top: 0; }
          .timeLineBox .fixedBox .digitalBox .organizationBox.who .name {
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 0;
            color: #fff;
            background-color: #008ac3; }
          .timeLineBox .fixedBox .digitalBox .organizationBox.who .data {
            margin-top: 27px; }
            .timeLineBox .fixedBox .digitalBox .organizationBox.who .data > .txt {
              top: 102%;
              left: 50%;
              margin-left: -48px; }
            .timeLineBox .fixedBox .digitalBox .organizationBox.who .data .days {
              margin-top: 0;
              margin-bottom: 7%; }
              .timeLineBox .fixedBox .digitalBox .organizationBox.who .data .days .txt {
                top: inherit; }
      .timeLineBox .fixedBox .digitalBox .caseBox {
        margin-top: 5%;
        width: 34%; }
        .timeLineBox .fixedBox .digitalBox .caseBox .cases {
          font-size: 19px;
          float: left;
          width: 100%; }
        .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox {
          margin: 5px auto;
          position: relative;
          float: left;
          width: 100%; }
          .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox span {
            font-size: 12px !important;
            margin: 5px auto;
            display: block;
            width: 80%; }
          .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox:before, .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox:after {
            width: 85% !important;
            position: relative;
            margin: 0 auto;
            display: block !important; }
          .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox:before {
            top: 0; }
          .timeLineBox .fixedBox .digitalBox .caseBox .dividerBox:after {
            bottom: 0;
            top: inherit; }
      .timeLineBox .fixedBox .digitalBox:before, .timeLineBox .fixedBox .digitalBox:after {
        content: "";
        display: table; }
      .timeLineBox .fixedBox .digitalBox:after {
        clear: both; }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox .days {
      border: 3px #000 solid !important;
      background-color: #000 !important; }
      .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt {
        bottom: 2%; }
        .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt span {
          font-size: 10px;
          margin: 0; }
        .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt:before, .timeLineBox .fixedBox.change .digitalBox .organizationBox .days .txt:after {
          display: none; }
      .timeLineBox .fixedBox.change .digitalBox .organizationBox .days > span {
        top: -10px;
        font-size: 18px; }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox.china .data .days {
      margin-bottom: 46%; }
    .timeLineBox .fixedBox.change .digitalBox .organizationBox.who .data .days {
      margin-bottom: 2px; }

  .backtop.index {
    bottom: 35%; } }
@media screen and (max-width: 320px) {
  .kvBox .btns .btn {
    margin-right: 2%;
    padding: 4px 2%; }

  .fixedBox .organizationBox .days .txt:before, .fixedBox .organizationBox .days .txt:after {
    width: calc(32% - 5px) !important; }
  .fixedBox .organizationBox.china .days {
    margin-bottom: 62% !important; }
  .fixedBox.change .organizationBox.china .data .days {
    margin-bottom: 56% !important; } }
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
#ebx4towl0g593 {
  animation: ebx4towl0g593_c_o 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g593_c_o {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  65% {
    opacity: 1; }
  100% {
    opacity: 1; } }
#ebx4towl0g5915 {
  animation: ebx4towl0g5915_c_o 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5915_c_o {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  65% {
    opacity: 1; }
  100% {
    opacity: 1; } }
#ebx4towl0g5920_to {
  animation: ebx4towl0g5920_to__to 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5920_to__to {
  0% {
    transform: translate(267.38649px, 491.8px); }
  50% {
    transform: translate(267.38649px, 491.8px); }
  65% {
    transform: translate(301.13536px, 508.95377px); }
  80% {
    transform: translate(301.13536px, 488.95377px); }
  100% {
    transform: translate(301.13536px, 508.95377px); } }
#ebx4towl0g5920 {
  animation: ebx4towl0g5920_c_o 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5920_c_o {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  65% {
    opacity: 1; }
  100% {
    opacity: 1; } }
#ebx4towl0g5921_to {
  animation: ebx4towl0g5921_to__to 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5921_to__to {
  0% {
    transform: translate(267.38647px, 491.8px); }
  50% {
    transform: translate(267.38647px, 491.8px); }
  65% {
    transform: translate(257.06465px, 486.95377px); }
  80% {
    transform: translate(257.06465px, 506.95377px); }
  100% {
    transform: translate(257.06465px, 486.95377px); } }
#ebx4towl0g5921 {
  animation: ebx4towl0g5921_c_o 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5921_c_o {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  65% {
    opacity: 1; }
  100% {
    opacity: 1; } }
#ebx4towl0g5922_to {
  animation: ebx4towl0g5922_to__to 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5922_to__to {
  0% {
    transform: translate(353.33907px, 194.50832px); }
  50% {
    transform: translate(247.63467px, 172.6px); }
  100% {
    transform: translate(247.63467px, 172.6px); } }
#ebx4towl0g5923 {
  animation: ebx4towl0g5923_f_o 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5923_f_o {
  0% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 1; } }
#ebx4towl0g5924_to {
  animation: ebx4towl0g5924_to__to 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5924_to__to {
  0% {
    transform: translate(320.39878px, 194.50832px); }
  50% {
    transform: translate(383.99878px, 212.85px); }
  100% {
    transform: translate(383.99878px, 212.85px); } }
#ebx4towl0g5925 {
  animation: ebx4towl0g5925_f_o 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5925_f_o {
  0% {
    fill-opacity: 0; }
  50% {
    fill-opacity: 1; }
  100% {
    fill-opacity: 1; } }
#ebx4towl0g5926 {
  animation: ebx4towl0g5926_s_do 2000ms linear infinite alternate forwards; }

@keyframes ebx4towl0g5926_s_do {
  0% {
    stroke-dashoffset: 770.710000; }
  50% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=style.css.map */
