@import 'reset';
@import 'variable';
i.who{
	color:$who-color;
}
i.prc{
	color:$prc-color;
}
body{
    font-family: $font-family;

}
html,body,#wapper{
	min-height: 100vh;
	min-width: 1250px;
	width: 100%;
}
#wapper{
	position: relative;
}
.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: #fff;
	display: flex;
	text-align: center;
	align-items: center;	
	svg{
		width: 10%;
		position: relative;
		margin:0 auto;
		display: block;
	}
}
.kvBox{
	width: 100%;
	margin:0 auto;
	height: 430px;
	// overflow: hidden;
	z-index: 2;
	background: $dtl-color;
	position: relative;
	padding-bottom:30px;
	.logo{
		position: absolute;
		top:30px;
		right: 60px;
	}
	.kv_txt{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// text-align: center;
		align-items: center;
		display: flex;		
		img{
			margin-left: 8%;
		}		
	}
	.kvImg{
		bottom:0;
		right: 5%;
		position: absolute;
	}
	.btns{
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		position: absolute;
		bottom:10px;
		z-index: 3;
		.btn{
			padding: 10px 20px;
			background: #fff;
			color:#000;
			font-size: 18px;
			color: #000;
			font-weight: bold;
			margin-right: 10px;
			cursor: pointer;
			&:last-child{
				margin-right: 0 !important;
			}
			&.active,&:hover{
				background-color: #000;
				color:#fff;
			}
		}
	}
}
.titleBox{
	width: 1250px;
	margin:0 auto;
	h2{
		font-size: 35px;
		font-weight: bold;
		text-align: center;
		margin: 65px 0;
		color: #000;
		line-height: 160%;
		// padding-bottom: 20px;
		// border-bottom: 1px #5cc1d8 solid;
	}
}
.index{
	.kvBox{
		height: inherit;
		min-height: 700px;
		padding-bottom:0;
		.logo{
			right: 40px;
		}
		.kv_txt{	
			img{
				margin-left: 8%;
				width: 31%;
				max-width: 601px;
			}
		}
		.kvImg{
			top: 50%;
			right: 14%;
			transform-origin: top right;
			bottom:inherit;
			.city{
				position: relative;
			}
			> div:not(.city){
				position: absolute;
				transform-origin: center;
			}
			.people{
				bottom: -13%;
				right: -9%;
				transform-origin: center bottom;
			}
			.avirus1{
				right: 0;
				top:2%;
			}
			.avirus2{
				right: -14%;
				top: 30%;
			}
			.avirus3{
			    bottom: -1%;
			    left: -5%;
			}
		}	
		.btns{
			bottom:50px;
		}	
	}
	.titleBox{
		width: 100%;
		min-height: 700px;
		align-items: center;
		display: flex;
		justify-content: center;
		overflow: hidden;
		position: relative;
		h2{
			padding:0;
			color:#fff;
			z-index: 2;
		    text-align: left;
		    line-height: 140%;
		    font-size: 100px;
		    border-bottom:none;
		}
		.backgroundMask{
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.6);
		}
		.background{
			z-index: 0;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../images/bg2.png);
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center right;			
		}
		.downBox{
			position: absolute;
			bottom: 20px;
			left: 50%;
			margin-left: -22px;
			span{
				width: 100%;
				text-align: center;
				font-size: 14px;
				color: #fff;
				display: block;
				margin-top: 5px;
				line-height: 120%;
			}
		}
	}
	.copyright{
		margin: 10px auto;
		color:#000;
		position: relative;
		a{
			color:#000;
		}
	}
}
.backgroundMask{
	position: fixed;
	top: 0;
	left: 0;
	background-repeat:space;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='https://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.timeLineBox{
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	padding-top: 153px;
	.background{
		position: fixed;
		width: 100%;
		min-width: 1250px;
		height: 100%;
		top: 0;
		left: 0;
		.pic{
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-color: $dtl-color;
		}
	}
	.backgroundMask{
		width: 100vw;
		height: 100vh;	
		background-color: rgba(255,255,255,0.4);	
	}
	.lineBox{
		position: absolute;
		left: 50%;
		margin-left: -3px;
		height: 100%;
		min-height: 100vh;
		.line{
			border-color:$timeline-border-color;
			border-right-width:6px;
			display: block;
			&.dashed{
				margin-top: 100px;
				border-style:dashed;
				height: 300px;
				border-color: #008ac3;
			}
			&.solid{
				height: calc(100% - 400px);
				border-style:dashed;
			}
		}
	}
	.allDatasBox{
		position: relative;
		width: 65%;
		margin: 0 auto;
		top:10px;
		z-index: 2;
		.dataBox{
			position: relative;
			width: 100%;
			margin-bottom: 100px;
			// padding-top:67px;
			min-height: 138px;
			.date{
				left: calc(50% - 69px);
				position: absolute;
				width: 138px;
				height: 138px;
				border-radius: 50%;
				// margin-top:-67px;
				background-color: $prc-color;
				border:6px $timeline-border-color solid;
				color:$timeline-txt-color;
				align-items: center;
				display: flex;
				justify-content: center;
				p{
					text-align: center;
					font-weight: bold;
					font-size: 36px;
					span{
						display: block;
						font-size: 16px;
						margin-top: 5px;
					}
				}
				.line{
		    		display: block;	
					height: 2px;
					background-color: #fff;
					border-radius: 2px;	
					left: 132px;
					position: absolute; 
					width: 55px;   						
				}
			}
			.events{
				padding-top: 68px;
				position: relative;
				overflow: hidden;
				.event{
					position: relative;
					left: 50%;
					width: calc(100% / 2 - 123px);
					margin-left: 123px;
					padding: 35px 24px;
					background-color: rgba(255,255,255,1);
					color: #000;
					.content{
						position: relative;						
					}
					img{
						width: 100%;
						border:1px #ccc solid;
						margin: 29px auto;
					}
					p{
						font-size: 18px;
						line-height: 150%;
						// padding: 0 10px;
					}
					ul{
						font-size: 18px;
						line-height: 150%;
					    list-style: disc;
	    				padding-left: 32px;
	    				li{
	    					iframe{
	    						width: 90%;
	    					}
	    				}
					}
					a{
						color: #000;
						border-bottom: 1px #000 solid;
					}
					iframe{
						width: 90%;
						height: 300px;
						position: relative;
						margin:29px auto;
						display: block;
					}
					&.taiwan:before{
					    content: "Taiwan";
					    position: relative;
					    padding: 10px 15px;
					    margin-bottom: 10px;
					    background-color: #217f32;
					    color: #fff;
					    font-weight: bold;
					    display: inline-block;
					    text-align: center;
					}
				}				
			}

			&:first-child{
				.date{
					background-color: $who-color;
				}
			}
			&.hideEvent{
				.date{
					.line{
						display: none;
					}
				}
				.event{
					display: none;
				}
			}
		}
		.nowBox{
			// position: absolute;
			// bottom:100px;
			// width: 200px;
			// left:50%;
			// margin-left: -110px;
		    width: 300px;
		    margin: 0 auto;
			padding: 20px 50px;
			font-size: 20px;
			text-align: center;
			background-color: #000;
			border:6px $timeline-border-color solid;
			color:$timeline-txt-color;
			border-radius: 10px;
			span{
				width: 100%;
				margin-bottom: 5px;
				position: relative;
				display: block;
			}
			.time{
				width: 100%;			
			}
		}
		.dataBox:nth-child(2n){
			.event{
				// text-align: right;
				left: 0;
				margin-left: 0;
			}
			.date{
				.line{
					left: -5px;
					transform: rotate(180deg);
					display: block;
					transform-origin: left center;
				}
			}
		}
		.dataBox:last-child{
			// padding-bottom: 23%;
			margin-bottom: 0;
		}

	}
	.fixedBox{
		position: fixed;
	    left: 20px;
	    top: 50px;
	    // transform: scale(0.7);
	    // transform-origin:0 0;
	    width: 197px;
	    z-index: 3;
		.yearBox{
			text-align: right;
			font-weight: bold;
			// border-right: 4px #fff solid;
			margin-bottom: 15px;
			color:#fff;
			// padding-right: 10px;
			h2{
				font-size: 70px;
			}
			p{
				font-size: 28px;
				line-height: 120%;
			}
		}
		.digitalBox{
			border: 6px #000 solid;
			background-color:rgba(0,0,0,0.3);
			font-weight: bold;
			text-align: center;
			color: #fff;
			.organizationBox{

				.name{
					font-size: 22px;
					text-align: center;
					padding: 6px 0;
					background-color: rgba(0,0,0,1);
					font-weight: bold;
					
				}
				.data{
					>.txt{
						font-size: 18px;
						display: block;
						line-height: 120%;
						font-weight: normal;
					}
					.days{
						font-size: 59px;
						position: relative;
						width: 146px;
						height: 82px;
						margin: 10px auto 20px;
						border-top: 3px #fff solid;
						border-left: 3px #fff solid;
						border-right: 3px #fff solid;
						>span{
							line-height: 70px;
						}
						.txt{
						    font-size: 17px;
						    position: absolute;
						    bottom: -7px;
						    color: #fff;
						    font-weight: bold;
						    width: 103%;
						    text-align: center;
						    left: -1px;
							span{
							    margin: 0 5px;
							}
							&:before,&:after{
							    content: "";
							    display: inline-block;
							    height: 3px;
							    background-color: #fff;
							    position: relative;
							    top: -4px;
							    width: calc(35% - 5px);
							}
						}
					}
					.cases{
						font-size: 27px;
						display: block;
					}
				}
				&.china{
					// margin-bottom: 13px;
					// >.txt{
					// 	margin-bottom: 6px;
					// }
					.name{
						margin-bottom: 17px;
					}
					.days,.cases,.name{
						color:$prc-color;
					}
					// .days{
					// 	margin-top: 10px;
					// 	border-top: 3px #fff solid;
					// 	border-left: 3px #fff solid;
					// 	border-right: 3px #fff solid;
					// }
				}
				&.who{
					margin-top: 10px;
					// .name{
					// 	margin-top: 18px;
					// }
					.days,.cases,.name{
						color:$who-color;
					}
					.days{
						margin: 10px auto 27px;
					}
					// .cases{
					// 	margin:0 auto 12px;
					// }
					// .days{
					// 	border-bottom: 3px #fff solid;
					// 	border-left: 3px #fff solid;
					// 	border-right: 3px #fff solid;
					// 	>span{
					// 		line-height: 90px;
					// 	}
					// 	.txt{
					// 	    font-size: 17px;
					// 	    position: absolute;
					// 	    top: -7px;
					// 	    color: #fff;
					// 	    font-weight: bold;
					// 	    width: 103%;
					// 	    text-align: center;
					// 	    left: -1px;
					// 	}
					// }
				}
			}
			.caseBox{
				// margin:15px 0;
				.cases{
				    font-size: 30px;
    				display: block;
    				&.china{
    					color:$prc-color;
    				}
    				&.who{
    					color:$who-color;
    				}
				}
				.dividerBox{
					color:#fff;
					margin:8px auto;
					font-weight: bold;
					span{
						font-size: 11px;
						margin:0 4px;
					}
					&:before,&:after{
					    content: "";
					    display: inline-block;
					    height: 2px;
					    background-color: #fff;
					    position: relative;
					    top: -4px;
					    width: calc(14% - 5px);
					}
				}				
			}

		}
		&.change{
			.digitalBox{
				.organizationBox{
					.days{
						>span{
							color:#fff;
							font-size: 25px;
							top:-5px;
							position: relative;
						}
						.txt{
							font-size: 12px;
						    bottom: 4px;
							&:before,&:after{
							    content: "";
							    display: inline-block;
							    height: 3px;
							    background-color: $prc-color;
							    position: relative;
								top: -3px;
								width: calc(13% - 5px);
							}
						}
					}
					&.china{
						.days{
							border-top: 3px $prc-color solid;
							border-left: 3px $prc-color solid;
							border-right: 3px $prc-color solid;
							background-color: $prc-color;						
						}
					}
					&.who{
						.days{
							border-bottom: 3px $who-color solid;
							border-left: 3px $who-color solid;
							border-right: 3px $who-color solid;
							background-color: $who-color;
							.txt{
							    top: inherit;
							    &:before,&:after{
							    	background-color: $who-color;
							    }
							}
						}
					}
				}
				.caseBox{
					.dividerBox{
						span{
							font-size: 17px;
						}
						&:before,&:after{
						    width:calc(30% - 5px);
						}
					}					
				}

			}
		}
	}
	.lineYearBox{
		position: fixed;
		width: 100vw;
		height:100vh;
		top:0;
		left: 0;
		z-index: 1;
		.line.year{
		    position: absolute;
		    border-top-width: 4px;
		    border-style: dashed;
		    border-color: #000;
	        top: 28%;
		    .ball{
		    	width: 20px;
		    	height: 20px;
		    	border-radius: 50%;
		    	position: absolute;
		    	right: -10px;
		    	top:-10px;
		    	background-color: #000;
		    }
		}		
	}

	.banners{
		position: fixed;
		right: 20px;
		top: 60px;
		// width: 14%;
		z-index: 8;
		.banner{
			width: 100%;
			color:#000;
			background-color: #fff;
			font-weight: bold;
			padding: 10px 20px;
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: center;
			margin-bottom: 16px;
			cursor: pointer;
			span{
				line-height: 140%;
				// font-weight: normal;
			}
		}
	}
	&.nonefixed{
		.lineYearBox,.fixedBox,.background,.banners,.backgroundMask{
			position: absolute;
		}
	}
}
.page{
	position: relative;
	.btns{
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 55px;
		.btn{
			color: $dtl-color;
			background-color:#fff;
			border: 1px $dtl-color solid;			
			padding: 10px 20px;
			margin-right: 10px;
			cursor: pointer;
		    font-size: 18px;
		    // font-weight: bold;
		    position: relative;
			&:last-child{
				margin-right: 0;
			}
			&.active,&:hover{
				color: #fff;
				background-color: $dtl-color;
				border: 1px transparent solid;
			}
			&.comingsoon:hover{
				color:$dtl-color;
				// background-color: $dtl-color;
				&:after{
					position: absolute;
					top:0;
					right: 0;
					width: 100%;
					height:100%;
					color:#fff;
					line-height: 40px;
					content: "Coming Soon";
					text-align: center;
				}
			}
		}
	}
	.booksBox{
		position: fixed;
		right: 20px;
		bottom: 30%;
		.btn{
			display: block;
			margin-bottom: 20px;
			background-color: #000;
			img{
				border:4px transparent none;
				width: 120px;
				border-radius: 2px;
				box-shadow: 5px 5px 4px 0px #7f818e;
				-webkit-box-shadow: 5px 5px 4px 0px #7f818e;
				-moz-box-shadow: 5px 5px 4px 0px #7f818e;
				-o-box-shadow: 5px 5px 4px 0px #7f818e;
				transition: .3s ease;
				opacity: 0.6;		
			}
			&.active{
				img{
					opacity: 1;
					// border:4px $dtl-color solid;
					// right: 20px;
    				position: relative;
				}
			}
		}
		// &.nonefixed{
		// 	position: absolute;
		// }
	}
	>.content{
		width: 1250px;
		margin:0 auto;
		h3{
			font-size: 25px;
			padding: 10px 0;
			margin-bottom: 20px;
			border-bottom: 1px $dtl-color solid;
			border-top: 1px $dtl-color solid;
		}

		ul.decimal{
			list-style-type: decimal;
			margin-left: 30px;
			margin-bottom: 40px;
			li{
				padding-left: 10px;
			}
		}
		p,li{
			line-height: 180%;
			margin-bottom: 10px;
			font-size: 18px;
		}
		.researchBox{
			width: 100%;
			margin:60px auto 30px;
			img{
				margin:0 auto 30px;
			}
			.book{
				width: calc(50% - 50px);
				float: left;
				&:last-child{
					margin-left: 50px;
				}
				h3{
					text-align: center;
				}
			}
		}
		.participantsBox{
			width: 80%;
			margin:0 auto;
			padding-bottom: 25px;
			.block{
				align-items: center;
				display: flex;
				// justify-content: center;
				&:nth-child(3n){
					margin-bottom: 0;
				}
				.pic{
				    width: 100px;
				    height: 100px;
				    position: relative;
				    left: 0;
				    margin: 0;
				}
				p.txt{
				    margin-left: 20px;
				    font-size: 20px;
				    line-height: 140%;
					b:first-child{
						font-size: 22px;
					}
				}
			}
		}
		.block{
			margin-bottom: 20px;
			position: relative;
			padding:0 10px;
			min-height: 50px;
			.pic{
				// display: inline-block;
				width: 50px;
				height: 50px;
			    border: 3px $dtl-color solid;
			    background-size: 100% auto;
			    background-position: center;
			    background-repeat: no-repeat;
			  	border-radius: 50%;
			  	margin-right: 10px;
				position: absolute;
				top: 0;
				left: 10px;
			}
			p.txt{
				margin-left: 60px;
				&:nth-child(2n){
					padding-top: 10px;
				}
			}
			ul{
				margin-left: 80px;
			}	
		}
		.moreBtn{
			padding: 10px 40px;
			font-size: 18px;
			font-weight: bold;
			color: $dtl-color;
			border: $dtl-color 1px solid;
			margin:0 auto;
			transition: 0.25s;
			cursor: pointer;
			box-shadow: 
				0.3em 0.3em 0 0 $dtl-color,
				inset 0.3em 0.3em 0 0 $dtl-color;
		    left: 46%;
			position: relative;
			&:hover,&:focus{
				color: #fff;
				border-color: $dtl-color;
			    box-shadow: 
			      0 0 0 0 $dtl-color,
			      inset 6em 3.5em 0 0 $dtl-color;
			}
		}
		.transcriptListBox{
			padding: 0 10px;
			.block{
				text-align: center;
				align-items: center;
				display: flex;	
				width: 100%;
				position: relative;
			    padding: 0 0 20px 0;
			    border-bottom: $dtl-color 1px solid;
			    margin-bottom: 40px;
				.pic{
					width: 100px;
					height: 100px;
					position: relative;	
					margin-left: 10px;				
				}
				p.txt{
					margin-left: 30px;
					margin-bottom: 0;
					text-align: left;
					line-height: 140%;
					b:first-child{
						font-size: 30px;
					}
				}
				.moreBtn{
					position: absolute;
					margin: 0;
					left: inherit;
					right: 0;
					&.comingsoon{
						padding: 10px 12px;
    					font-size: 16px;
					}
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
		.transcriptBox{
			width: 80%;
			margin:0 auto;
			border-bottom: 1px $dtl-color solid;
		    padding-bottom: 25px;
		    margin-bottom: 16px;
			.block{
				&:nth-child(2n){
					margin-bottom: 40px;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.quotesBox{
			margin:30px 0 80px;
			.quoteBox{
				position: relative;
				width: calc(44% - 20px);
				// width: 50%;
				float: left;
				margin:0 auto 150px;
				.quote{
				    background-color: transparent;
				    border-radius: 3px;
				    color: #fff;
				    position: relative;
				    width: 100%;
				    height: 375px;
				    transform-style: preserve-3d;
				    perspective: 2000px;
				    transition: .4s;
				    text-align: center;
				    margin: 0 0 30px 30px;
				    // margin:0 auto;
				    i{
						font-size: 35px;
						height: 65px;
						width: 65px;
						line-height: 65px !important;
						background-color: $dtl-color;
						color: #fff;
						position: absolute;
				    }
				    >i{
						bottom: 0;
						right: 0;
						z-index: 1;
				    }
				    .txt{
					    position: absolute;
					    top: 30px;
					    left: -30px;
					    width: calc(100% + 60px);
					    height: calc(100% - 60px);
					    background-color: #000;
					    border-radius: 3px;
					    transition: .4s;	
					    i{
						    top: 0;
						    left: 0;				    	
					    }
					    .content{
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							text-align: center;
							width: 100%;
							padding: 30px 60px;
							line-height: 1.5;
							box-sizing: border-box;	
							h3{
							    font-size: 30px;
								margin-bottom: 5px;
								border:none;
								padding:0;
							}
							p{
								font-size: 15px;
							}	    	
					    }   	
				    }
				    &:before,&:after{
					    content: '';
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    background: transparent;
					    box-sizing: border-box;	
					    pointer-events: none;		    	
				    }	
				    &:before{
					    border-top: 20px solid $dtl-color;
					    border-left: 20px solid $dtl-color;			    	
				    }
				    &:after{
					    border-bottom: 20px solid $dtl-color;
					    border-right: 20px solid $dtl-color;		    	
				    }
				    // &:hover{
				    // 	transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
				    // 	.txt{
				    // 		transform: rotateY(20deg) skewY(-3deg);
				    // 	}
				    // }
				}
				&:nth-child(2n){
					margin-left: 130px;
				}	
				.moreBtn.go{
					-webkit-animation: rainbow 18s ease infinite;
					-z-animation: rainbow 18s ease infinite;
					-o-animation: rainbow 18s ease infinite;
					animation: rainbow 18s ease infinite;	
					background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
					background-size: 1800% 1800%;	
					box-shadow:none;
					border:none;
					color:#fff;
				}
				// &:last-child{
				// 	margin:0 auto;
				// }		
			}			
		}
	}
}
.fancyBoxDiv{
	display: none;
	&.fancybox-content{
		width: 50%;
		background-color: #000;
		color: #fff;
		padding: 55px 44px;
		min-width: 600px; 
		ul{
			margin-left: 30px;
			&.alpha{
				list-style-type: lower-alpha;
			}
		}
		li{
			line-height: 180%;
			font-size: 16px;
			margin-bottom: 16px;
			padding-left: 10px;
		}
		p{
			line-height: 180%;
			font-size: 16px;		
		}
		h3{
			text-align: center;
			font-size: 25px;
			margin-bottom: 20px;
			line-height: 160%;
		}		
	}
}
.copyright{
	// width: 100%;
	text-align: center;
	font-size: 14px;
	color:$dtl-color;
	margin-bottom: 30px;
	a{
		color:$dtl-color;
		text-decoration: underline;
		&:hover{
			color:#000;
		}
	}
}
.backtop{
    width: 54px;
    height: 54px;
    background-image: url(../images/backtop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: fixed;
    right: 10px;
    bottom: 75px;
    display: none;
    cursor: pointer;
    z-index: 8;
}

@media screen and (max-width:768px){
	html{
		// position: fixed;
		// overflow: hidden;
	}
	html,body,#wapper{
		min-width: inherit;
		// position: relative;
	}
	.loading{
		svg{
			width: 40%;
		}
	}
	.index{
		.kvBox{
			overflow: hidden;
			min-height: 568px;
			.logo{
				right: 17px;
			}
			.kvImg{
				margin:0 auto;
				right:auto !important;
				margin-top:auto !important;
				top:45%;
				transform-origin:left top;
				position: absolute;
				left: 8%;
				// width: 80%;
				// transform: scale(0.5);
			}
			.kv_txt{
				img{
					width: 100%;
					max-width:inherit;
					margin: 0;
				}			
			}
			.btns{
				bottom: 10px;
			}
		}
		.titleBox{
			h2{
				font-size: 48px;
				margin:0 auto;
			    text-align: center;
			}
			.background{
			    background-size: auto 100%;
    			background-position: 80% 0;
			}
		}	
	} 
	.outherpage{
		.kvBox{
		    height: 250px;
		    padding-bottom:0;
		    overflow: hidden;
			.kv_txt{
			    width: 43%;
			    margin: 0;
			    left: 2%;
			    top: 23%;
			}
			.kvImg{
				width: 60%;
				margin: 0;
				right: -6%;
				position: absolute;
				top: 24%;
	    		img{
	    			width: 100%;
	    		}	
			}
			.btns{
				padding: 0 5px;
				.btn{
				    // width: 50%;
				    padding: 4px;
				    margin-right: 5px;
				}
			}
		}
	}
	.kvBox{
		.logo{
			top: 12px;
			right: 17px;
			img{
				width: 100px;
			}
		}
		.kv_txt{
			position: relative;
			margin:0 auto;
			display:block;
    		height: auto;
    		width: 65%;
    		top: 6%;
    		img{
    			margin:0;
    			width: 100%;
    		}
		}
		.kvImg{
			position: relative;
    		right: auto;
    		bottom: auto;
		}
		.btns{
			padding:0 10px;
			.btn{
				padding: 4px 10px;
				font-size: 14px;
			}
		}	
	}
	.titleBox{
		width: 100%;
		h2{
			font-size: 28px;
			margin: 35px 0;
			padding: 0 10px;
		}
	}
	.timeLineBox{
	 	.line.year{
	 		display: none;
	 	}
		.background{
	    	min-width: inherit;
		}
		.lineBox{
			left: 10%;
			margin-left:0;
			.line{
				border-right-width: 4px;
				&.dashed{
					margin-top: 20px;
			        height: 0.8%;
				}
				&.solid{
				    height: calc(99.2% - 20px);
				}
			}
		}
		.allDatasBox{
			width: 100%;
			.dataBox{
			    // padding-top: 11%;
			    margin-bottom: 30px;
				.date{
					width: 70px;
					height: 70px;
					left: 2%;
					border: 3px #fff solid;
					// margin-top: -9.2%;
					p{
						font-size: 20px;
					}
					.line{
						left: 102%;
					    width: 4.5vw;
					}
				}

			    .events{
			    	padding-top:34px;
			    	width: 100%;
					.event{
						width: 73%;
						left: 0;
						padding:10px;
						margin-left: 24%;
						p,ul{
							font-size: 16px;
						}
					}			    	
			    }


				&:nth-child(2n){
					.event{
						margin-left: 24%;
					}
					.date{
						.line{
							transform: none;
							left: 102%;
						}
					}
				}
			}
			.nowBox{
			    border: 3px #fff solid;
			    padding: 8px;
			    left: 2%;
			    margin-left: 14px;
			    font-size: 16px;
			    span{
			    	margin-bottom: 3px;
			    }
			}
		}

		.banners{
			display: none;
		}
		.fixedBox{
			border: 5px #fff solid;
		    background-color: rgba(0, 0, 0, 0.5);
		    width: calc(100% - 20px);
		    padding: 0 13px;
		    left: 0;
		    top: inherit;
		    bottom: 30px;
		    margin: 0 10px;
			.yearBox{
			    text-align: left;
			    margin-bottom: 5px;
			    h2{
				    display: inline-block;
				    font-size: 42px;
				    top: 3px;
				    position: relative;
			    }
			    p{
			    	display: inline-block;
			    	font-size: 16px;
			    }
			}
			.digitalBox{
				border: none;
				background-color:rgba(0, 0, 0, 0);	
				width: 100%;	
				> div{
					float: left;
				}	
				.organizationBox{
					width: 33%;
					position: relative;
					.data{
						> .txt{
    						font-size: 13px;
    						line-height: 100%;
						    position: absolute;
    						top: 63%;	
						}
						.days{
							width: 100%;
							height: 52px;
							font-size: 38px;
							> span{
								line-height: 42px;
							}
							.txt{
								span{
									font-size: 12px;
								}
							}
						}
					}
					.name{
						font-size: 15px;
					}

					&.china{
						margin-bottom: 0;
						.data{
							.days{
								margin-top: 0;
								margin-bottom: 53%;
							}							
						}
						.name{
							margin-bottom: 0;
							background-color: $prc-color;
							color:#fff;
						}
					}
					&.who{
						margin-top: 0;
						.name{
							position: absolute;
							top: 0;
							width: 100%;
							margin-top: 0;
							color:#fff;
							background-color: $who-color;
						}
						.data{
							margin-top: 27px;
							>.txt{
								top: 102%;
								left: 50%;
								margin-left: -48px;
							}
							.days{
								margin-top: 0;
							    // border-top: 3px #fff solid;
							    // border-left: 3px #fff solid;
							    // border-right: 3px #fff solid;
							    // border-bottom: none;
							    margin-bottom: 7%;
							    .txt{
							    	top:inherit;
							    }
							}							
						}

					}
				}
				.caseBox{
					margin-top: 5%;
					width: 34%;
					.cases{
						font-size: 19px;
						float: left;
						width: 100%;
					}
					.dividerBox{
						margin: 5px auto;
						position: relative;
						float: left;
						width: 100%;
						span{
							font-size:12px !important;
							margin:5px auto;
							display: block;
							width: 80%;
						}
						&:before,&:after{
							width: 85% !important;
							position: relative;
							margin:0 auto;
							display: block !important;
						}
						&:before{
							top: 0;
						}
						&:after{
						    bottom: 0;
    						top: inherit;
						}
					}
				}
				&:before,&:after{
					content: "";
					display: table;
				}
				&:after{
					clear: both;
				}
			}
			&.change{
				.digitalBox{
					.organizationBox{
						.days{
							border: 3px #000 solid !important;
							background-color: #000 !important;
							.txt{
								bottom:2%;
								span{
									font-size: 10px;
									margin:0;
								}
								&:before,&:after{
									display: none;
								}								
							}
							>span{
								top:-10px;
							    font-size: 18px;
							}
						}
						&.china{
							.data{
								.days{
									margin-bottom: 46%;
								}
							}
						}
						&.who{
							.data{
								.days{
								    margin-bottom: 2px;
								}
							}
						}
					}
				}
			}
		}
	}
	.page{
		.btns{
			display:block;
			margin-bottom: 25px;
			padding:0 10px;
			text-align: center;
			.btn{
				display: inline-block;
				margin-bottom: 10px;
				font-size: 16px;
				padding:10px 15px;
			}
		}
		>.content{
			width: 100%;
			.transcriptListBox{
				.block{
					display:block;
					.pic{
						width: 120px;
						height: 120px;
						margin: 0 auto 20px;
						left:0;

					}
					p.txt{
						margin-left: 10px;
						font-size: 16px;
						padding: 0 0 20px 0;
						margin: 0 auto;
						text-align: center;
						b:first-child{
							font-size: 22px;
						}
					}
					.moreBtn{
						padding: 10px 20px;
						position: relative;
						display: inline-block;
					}
				}
			}
			.participantsBox{
				width: 100%;
			}
			.transcriptBox{
				width: 100%;
				padding:0 10px;
			}
		}
	}
	.backtop.index{
		bottom:35%;
	}
}

@media screen and (max-width:320px){
	.kvBox{
		.btns .btn{
			margin-right: 2%;
		    padding: 4px 2%;			
		}
	}
	.fixedBox{
		.organizationBox{
			.days{
				.txt{
					&:before,&:after{
						width: calc(32% - 5px) !important;
					}
				}

			}
			&.china{
				.days{
					margin-bottom: 62% !important;
				}				
			}
		}
		&.change{
			.organizationBox{
				&.china{
					.data .days{
				        margin-bottom: 56% !important;
					}
				}
			}
		}
	}
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}



#ebx4towl0g593 {animation: ebx4towl0g593_c_o 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g593_c_o { 0% {opacity: 0} 50% {opacity: 0} 65% {opacity: 1} 100% {opacity: 1} }#ebx4towl0g5915 {animation: ebx4towl0g5915_c_o 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5915_c_o { 0% {opacity: 0} 50% {opacity: 0} 65% {opacity: 1} 100% {opacity: 1} }#ebx4towl0g5920_to {animation: ebx4towl0g5920_to__to 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5920_to__to { 0% {transform: translate(267.386494px,491.800002px)} 50% {transform: translate(267.386494px,491.800002px)} 65% {transform: translate(301.135361px,508.953766px)} 80% {transform: translate(301.135361px,488.953766px)} 100% {transform: translate(301.135361px,508.953766px)} }#ebx4towl0g5920 {animation: ebx4towl0g5920_c_o 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5920_c_o { 0% {opacity: 0} 50% {opacity: 0} 65% {opacity: 1} 100% {opacity: 1} }#ebx4towl0g5921_to {animation: ebx4towl0g5921_to__to 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5921_to__to { 0% {transform: translate(267.386468px,491.800002px)} 50% {transform: translate(267.386468px,491.800002px)} 65% {transform: translate(257.064651px,486.953766px)} 80% {transform: translate(257.064651px,506.953766px)} 100% {transform: translate(257.064651px,486.953766px)} }#ebx4towl0g5921 {animation: ebx4towl0g5921_c_o 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5921_c_o { 0% {opacity: 0} 50% {opacity: 0} 65% {opacity: 1} 100% {opacity: 1} }#ebx4towl0g5922_to {animation: ebx4towl0g5922_to__to 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5922_to__to { 0% {transform: translate(353.339073px,194.508317px)} 50% {transform: translate(247.634666px,172.599998px)} 100% {transform: translate(247.634666px,172.599998px)} }#ebx4towl0g5923 {animation: ebx4towl0g5923_f_o 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5923_f_o { 0% {fill-opacity: 0} 50% {fill-opacity: 1} 100% {fill-opacity: 1} }#ebx4towl0g5924_to {animation: ebx4towl0g5924_to__to 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5924_to__to { 0% {transform: translate(320.398785px,194.508319px)} 50% {transform: translate(383.998779px,212.849998px)} 100% {transform: translate(383.998779px,212.849998px)} }#ebx4towl0g5925 {animation: ebx4towl0g5925_f_o 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5925_f_o { 0% {fill-opacity: 0} 50% {fill-opacity: 1} 100% {fill-opacity: 1} }#ebx4towl0g5926 {animation: ebx4towl0g5926_s_do 2000ms linear infinite alternate forwards}@keyframes ebx4towl0g5926_s_do { 0% {stroke-dashoffset: 770.710000} 50% {stroke-dashoffset: 0} 100% {stroke-dashoffset: 0}}